@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
	@apply flex flex-col h-full bg-zinc-950 text-slate-200;
}

#root {
	@apply container mx-auto;
}

main {
	@apply grid flex-grow gap-4 m-2;
	grid-template-columns: minmax(0, 1fr);
	grid-template-rows: minmax(0, 1fr) minmax(0, 1fr);

	@media (min-width: 1024px) {
		& {
			grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
			grid-template-rows: minmax(0, 1fr);
		}
	}
}

.wrapper {
	@apply bg-zinc-900 flex flex-col rounded shrink-0 grow-0;
}

.editor {
	height: 100%;
	overflow-y: scroll;
	white-space: break-spaces;
	word-wrap: break-word;
	text-wrap: wrap;
	@apply p-4 bg-zinc-900 rounded text-lg font-mono;
	resize: none;
}

.editor:focus {
	outline: none;
}

.tabs {
	@apply bg-zinc-800 p-2 rounded;
}

.output {
	@apply bg-zinc-800 h-full w-full flex shrink-0 grow-0 rounded;
}
